{
  "parser": "babel-eslint",
  "extends": "eslint-config-postcss",
  "rules": {
    "key-spacing": ["error", { "align": "value" }],
    "complexity":  "off",
    "no-var":      "off"
  },
  "env": {
    "jest": true
  }
}
